<?xml version="1.0" encoding="UTF-8"?>
<config>
	<sections>
		<carriers>
			<groups>
				<fullshippingmodule translate="label" module="shipping">
					<label>Full Boned Shipping inc.</label>
					<frontend_type>text</frontend_type>
					<sort_order>13</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>					
						<minimum_item_limit translate="label">
							<label>Minimum Item quantity(if over rate the over minimum rate is applied)</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</minimum_item_limit>
						
						<over_minimum_code translate="label">
							<label>Over minimum shipping code</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</over_minimum_code>
						<over_minimum_title translate="label">
							<label>Over minimum title</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</over_minimum_title>
						<over_minimum_price translate="label">
							<label>Over minimum price</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</over_minimum_price>
						<under_minimum_code translate="label">
							<label>Under minimum shipping code</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</under_minimum_code>
						<under_minimum_title translate="label">
							<label>Under minimum title</label>
							<frontend_type>text</frontend_type>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</under_minimum_title>
						<under_minimum_price translate="label">
							<label>Under minimum price</label>
							<frontend_type>text</frontend_type>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</under_minimum_price>
						<sallowspecific translate="label">
							<label>Ship to applicable countries</label>
							<frontend_type>select</frontend_type>
							<sort_order>90</sort_order>
							<frontend_class>shipping-applicable-country</frontend_class>
							<source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</sallowspecific>
						<specificcountry translate="label">
							<label>Ship to Specific countries</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>91</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</specificcountry>
						
						<handling_type translate="label">
							<label>Calculate Handling Fee</label>
							<frontend_type>select</frontend_type>
							<source_model>shipping/source_handlingType</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</handling_type>
						<handling_action translate="label">
							<label>Handling Applied</label>
							<frontend_type>select</frontend_type>
							<source_model>shipping/source_handlingAction</source_model>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</handling_action>
						<handling_fee translate="label">
							<label>Handling fee</label>
							<frontend_type>text</frontend_type>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</handling_fee>
					</fields>
				</fullshippingmodule>
			</groups>
		</carriers>
	</sections>
</config>